.ABCL-stats-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.ABCL-stats-panel {
  background-color: var(--tmd-element, rgb(255, 255, 255));
}
.ABCL-stats-select {
  padding: 0.7%;
  border-radius: 0.35%;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
  width: calc(100% - 16%);
  margin: 8%;
}
.ABCL-stats-container {
  padding: 8%;
  font-size: 0.5em;
  gap: 1em;
  display: flex;
  flex-direction: column;
}
