:root {
  --abcl-text: var(--tmd-text, #000);

  --abcl-element: var(--tmd-element, #fff);
  --abcl-element-indentation: var(--tmd-main, #d9d9d9);
  --abcl-metabolism-multiplier-text: var(--tmd-text, #b3b3b3);

  --abcl-selected-text: var(--tmd-text, #fff);
  --abcl-selected-background: var(--tmd-accent, #000);

  --abcl-border-color: var(--tmd-accent, #ababab);
  --abcl-border: 0.1em solid var(--abcl-border-color);

  --abcl-hover-color: var(--tmd-accent, cyan);
}

.ABCL-hidden {
  display: none !important;
}
.ABCL-overlay {
  pointer-events: none;
  z-index: 1;
}
.ABCL-overlay * {
  pointer-events: fill;
}
.ABCL-exit-button {
  background-image: url("Icons/Exit.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  background-color: var(--abcl-element);
  border: var(--abcl-border);
  :hover {
    background-color: var(--abcl-hover-color);
  }
}

.value-bar-label {
  color: var(--abcl-text);
}
