.ABCL-settings-page {
  height: 79%;
  margin: 5% 10dvw 0dvh 5dvw;
  overflow-y: auto;
}
.ABCL-settings-title {
  text-align: center;
  width: fit-content;
  margin-top: 0;
}
.ABCL-divider {
  margin: 1% 0;
}
.ABCL-checkbox-group {
  flex-wrap: wrap;
  gap: 1.5vw;
  display: flex;
  font-size: 0.8em;
}

.ABCL-settings-section {
  margin-top: 2.1%;
  margin-bottom: 0.7%;
}

.ABCL-page-list {
  display: flex;
  flex-direction: column;
  margin: 1%;
  gap: 0.5em;
  > * {
    flex: 1 1 auto;
    text-align: left;
    padding: 10px;
    border: 1px black solid;
  }
}

.ABCL-contact-info {
  padding: 1%;
  width: fit-content;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
}

.ABCL-settings-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 56%;
  > section {
    gap: 0.2em;
    display: flex;
    flex-direction: column;
    padding: 1%;
    > div > * {
      width: 100%;
    }
  }
}
.ABCL-button {
  width: fit-content;
  padding: 0.3em;
  border: 1px black solid;
  background-color: white;
  cursor: pointer;
  white-space: nowrap;
  &:hover {
    background-color: cyan;
  }
}
