.abcl-navbar {
	overflow: auto;
	white-space: nowrap;
	padding: 0;
	margin: 0;
	position: relative;
}
.abcl-navbar li {
	display: inline-block;
	text-align: center;
	text-decoration: none;
}
.abcl-navbar button {
	padding: 12px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border: 1px black solid;
	border-bottom: 0;
}
.abcl-navbar button:disabled {
	background: white;
}
#abcl {
	aspect-ratio: auto 2000 / 1000;
  	height: 100%;
  	margin: auto;
	max-width: 100%;
}
#abcl .page {
	border: 1px solid #000;
	width: calc(100% - 60px);
	position: relative;

	font-family: sans-serif;
	padding: 30px;
}

#page-abcl-1:not(.hidden) {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns:repeat(6, min-content);
	gap: 25px;
	background-color: rgb(240, 240, 240);
	width: unset;
    height: 100%;
}
.tooltip {
	position: relative;
}
#abcl label, #abcl button {
	display: block;
	text-align: center;
}
#abcl input {
	position: relative;
	left:50%;
	transform:translateX(-50%)
}
#abcl-mess {grid-area: a;}
#abcl-visual {grid-area: b;}
#abcl-wet {grid-area: c;}
#abcl-mess-wet-chance {grid-area: d;
	width: 95%;
	margin: auto;
}

#abcl-clothing-accidents {grid-area: e;}
#abcl-automatic-accidents {grid-area: f;}
#abcl-timer-duration {grid-area: g;}
#wettings-messes-category {
	display: grid;


	grid-template-areas: 
		"a b c"
		"d d d"
		"e e e"
		"f g .";
	width: 250px;
	grid-template-columns: 1fr 1fr 1fr;
	
}
.settings-category {
	background-color: gainsboro;
	box-shadow: 0 0 5px 1px #c7c7c7 inset;
	border-radius: 2px;
	width: fit-content;
	padding: 10px;
}
.abcl-exit-button {
    background-image: url("Icons/Exit.png");
    aspect-ratio: 1;
    width: 6vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5vw;
    }
#abcl-exit {
	position: absolute;
	top: 30px;
	right: 30px;
}
.tooltip-down:before, .tooltip-down::after {
	transform:  translateX(-50%) translateY(50%) scale(var(--scale)) !important;
}
.tooltip:before, .tooltip::after {
	--scale: 0;
	font-size: 17px;
	content: attr(data-tooltip);
	top: -0.25rem;
	color: #000000;
	padding: 0.5rem;
	left: 50%;
	background-color: #ffffff;
	border: #000 1px solid;
	border-radius: 5px;
	position: absolute;
	width: 100px;
	transform:  translateX(-50%) translateY(-100%) scale(var(--scale));
	box-shadow: 0px 2px 3px rgba(0,0,0,30%);
	transition: transform 0.05s;
	z-index: 100;
	pointer-events: none;
}
.tooltip:hover:before, .tooltip:hover::after {
	--scale: 1;
}


#abcl input[type="number"]:focus {
	outline: none;
}
#abcl input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
.ABCLstyle-interactable {
	background-color: rgb(238, 238, 238);
	border: rgb(175, 175, 175) 1px solid;
	text-align: center;
	margin: auto;
	padding: 3px;
	border-radius: 1px;
}

input.ABCLstyle-interactable[type="checkbox"] {
	width: 20px !important;
	height: 20px !important;
  }
.ABCLstyle-interactable option {
	text-align: center;
}



.hidden {
	display: none !important;
}
